.home{

    background-color: #ccccff;
    height: 100vh;
    display: grid;
    place-content: center;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

p{
    font-size: 1.7rem;
    text-align: center;
}
span{

    font-weight: 800;

}

img{
    height: 2rem;
}
